<div class="max-w-6xl mx-auto grid md:grid-cols-3 gap-8 items-start">
  <div class="md:col-span-2 space-y-4">
    <h3 class="text-2xl font-semibold">Lopez Anthony</h3>
    <p>
      Desarrollador de software especializado en aplicaciones web Full Stack con
      NextJS, TailwindCSS y React.
    </p>
    <p>
      Cuento con el título de Ingeniero en Software de la Universidad
      Estatal de Milagro.
    </p>
    <p>Actualmente tengo 22 años y resido en Milagro, Guayas, Ecuador.</p>
  </div>
  <div
    class="border-amber-200 dark:bg-gray-800/40 border border-slate-100/15 p-6 rounded-lg shadow-md space-y-4"
  >
    <h4 class="text-xl font-semibold mb-4">Universidad Estatal De Milagro</h4>
    <p class="dark:first-letter:text-gray-400 text-pretty">Título de Ingeniero en Software.</p>
    <p class="mt-4 dark:text-gray-400">- PROX</p>
  </div>
</div>
